{% extends 'base.html' %}

{% block title %}
{{ block.super }} :: вход в аккаунт
{% endblock %}

{% block sidebar %}
{% include 'inc/__sidebar.html' %}
{% endblock %}

{% block content %}

<h1>Вход в аккаунт</h1>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary btn-block">Войти</button>
</form>
<p></p>
<div style="background-color: #f0f0f0 ;font-style: oblique"> <p style ="font-weight:400">
    Если Вы ещё не имеете аккаунта на нашем сайте, воспользуйтесь копкой "Зарегистрироваться" вверху слева.</p></div>

{% endblock %}

