<ul class="list-group">
  <li class="list-group-item"> <a href="{% url 'offersspectrs' %}" style="text-decoration: none;font-weight:600; "> Услуги </a> </li>
  <li class="list-group-item"> <a href="{% url 'discounts' %}" style="text-decoration: none; font-weight:600;">Скидки</a> </li>
  <li class="list-group-item"> <a href="{% url 'employee' %}" style="text-decoration: none; font-weight:600;">Персонал</a> </li>
  <li class="list-group-item"> <a href="{% url 'feedback' %}" style="text-decoration: none; font-weight:600;">Отзывы</a> </li>
</ul>
